/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	color: black;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
    padding: 0 5%;
}

nav{
	width: 100vw;
	height: 10vh;
	position: fixed;
	top: 0px;
	background-color: cadetblue;
	padding-top: 3vh;
	border-bottom: 1px solid black;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
}


header{
	align-content: center;
    padding:16vh 0;
    width: 100%;
}
header .logo{
	display: inline-block;
}

.logo{
	margin-bottom: -1%;
}

header nav a, .logo{
    margin: 0 4vw;
}

.header-text-container{
	padding: 10vh 5vw;
	display: inline-block;
	width: 60vw;
}

.header-text-container h1{
    font-size: 6em;
    width: 24vw;
}

.header-text-container h1,button{
	margin: auto;
	display: block;
}
header .header-img{
    display: inline-block;
}

@media screen and (max-width: 801px){
    nav{
        position: relative;
        height: 160px;
        width: 100%;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 34px;
    }
    nav .logo{
        order: -1;
        width: 100%;
        margin: 0;
        margin-bottom: 35px;
    }

    nav .logo img{
        display: block;
        margin: 0 auto;
    }

    header{
        padding: 0 0 48px;
    }

    header .header-img{
        display: none;
    }

    .header-text-container{
        padding: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .header-text-container h1{
        width: min-content;
    }
}

button{
	background: none;
    border: 2px solid black;
    width: 10vw;
    height: 7vh;
}

.main{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}


.main img{
	width: 100%;
}

.main div, .contact{
	display: inline-block;
	width: calc(100%/2.01);
	padding: 5vh 5vh;
}

.main .more{
	width: calc(100%/3.03);
}

footer {
	padding: 5vh;
    text-align: center;
    height: 20vh;
}

body{
	/* background-image: url('/img/header-img.png'),url('/img/mid-page-accent.jpg');
	background-repeat: no-repeat,no-repeat;
	background-position: top 33% right 13%, top 122% left 50%; */
	background-color: #faebd7;
}

@media (max-width: 800px){
  
}

a:hover{
	cursor: pointer;
	border-bottom: 3px solid cornsilk;
	transition-duration: 300ms;
}




